h1 {
    display: flex;
    color: white;
    justify-content: center;
}

p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    
    
}

.home {
    color: rgb(71, 6, 101);
    transition: color 0.5s;
}
.test {
    color: rgb(71, 6, 101);
    transition: color 0.5s;
}
.home:hover{
    color: red;
}
.test:hover{
    color: red;
}


.nav {
    
display: flex;    

}

.navall {
    
    background-color: rgb(23, 3, 41);
    border-bottom: 2px solid rgb(168, 30, 150);
    border-right: 2px solid red;
    position: fixed;
    height: 100vh;
    width: 300px;
    z-index: 2; 
}
.nav {
  
}

.navall > .nav > div {
    font-size: 0.9em;
    margin-right: 20px;

    
}


.indiv {
    height: 22px;
    border-bottom: 1px solid red;
    transition: border-bottom 0.5s;
    

}

.indiv:hover{
    border-bottom: 1px solid rgb(71, 6, 101);

}


.images > div {
    
    
    height: 700px;
    width: 500px;
    border: 3px solid rgb(63, 6, 205);
    
}

.container > .images {
    position: relative;
    left: 40vw;
    width:500px;
}
.images {
    margin-top: 100px;

}

.imge {
   
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 500px;
    border: 1px solid red;
}

.image-one {
    
}
.img-nav {
    border: 1px solid red;
    word-wrap: break-word;
}




/*.marginauto {
    border: 1px solid white;
    margin:auto;
    background: blue;
    display: block;
    
    }
*/

.header {
    z-index:99;
    border: 1px solid red;
    
}

.ima {

    background-image: url(../img/bruh_house.png);
    border: 2px solid red;
    color: red;
    top: 50px;
    left: 500px;
    height: 500px;
}

/*
.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgb(97, 9, 148,0.9),rgb(97, 9, 148,0.9)), url(../img/Alimari_Touhou_Project.jpg);
    background-position: center;
    background-size: cover;
   
}

